body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  margin-bottom: 100px;
  padding: 0px;
  margin: 0 auto;
  background-image: url(../img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background: rgb(35 35 46);
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 15vh;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

button.slick-prev {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  background-color: transparent;
  background-image: url(../img/anterior.png);
  position: absolute;
  z-index: 9; 
  top: 35%;
  left: 14%;
}

button.slick-next {
  font-size: 0px;
  border: none;
  width: 25px;
  height: 51px;
  background-color: transparent;
  background-image: url(../img/proxima.png);
  position: absolute;
  z-index: 9; 
  top: 35%;
  right: 14%;
}

.slick-list {
  width: 100%!important;
}

.slick-initialized {
  overflow: hidden;
}

.slick-dots li button {
 font-size: 0px;
 border: 5px solid #ffffff;
 width: 26px;
 height: 26px;
 background: transparent;
 border-radius: 50%;
 cursor: pointer;
}

.slick-dots {
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 46%;
  top: 400px;
}

li.slick-active button {
background: #23232e;
}

.slick-dots li {
  padding-left: 10px;
  display: inline-block;
}

.col-100{
  width: 100%;
  position: relative;
  margin-top: 0px;
}


.slider-principal {
  border-top: 2px solid white;
}

a:hover {
    color: #790d9c;
}

.titulos h3{
  text-align: center;
  font-size: 24px;
  font-family: Arial;
  color: #ffffff;
}

.titulos p{
  text-align: center;
  font-size: 22px;
  font-family: Arial;
  margin-top: -25px;
  color: #ffffff;
  margin-bottom: 12px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 286px;
  margin: 8px;
  border-radius: 15px;
  background-color: #32323e;
}

.card-image {
  background-color: white;
  border-bottom: 1px solid rgb(35 35 46); 
  height: 200px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}

.card p {
  padding: 5px;         
  color: white;                                                                  
}

p.ligas {
  text-align: center;
  font-size: larger;
  margin-top: 20px;
}

.card:hover, .card-times:hover, .card-jogadores:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.publi-1 {
  background-image: url(/img/brasilvence.png);
}

.publi-2 {
  background-image: url(/img/brasilvence.png);
}

.publi-3 {
  background-image: url(/img/brasilvence.png);
}

.publi-4 {
  background-image: url(/img/brasilvence.png);
}

/*Jogos*/

.jogos-1 {
  background-image: url(/img/mbbappeneymar.jpg);
}

.jogos-2 {
  background-image: url(/img/mbbappeneymar.jpg);
}

.jogos-3 {
  background-image: url(/img/mbbappeneymar.jpg);
}

.jogos-4 {
  background-image: url(/img/mbbappeneymar.jpg);
}

/*Ligas*/

.ligas-1 {
  background-image: url(/img/premier\ league-logo.png);
}

.ligas-2 {
  background-image: url(/img/la\ liga.png);
}

.ligas-3 {
  background-image: url(/img/champions\ league\ -\ logo.png);
}

.ligas-4 {
  background-image: url(/img/brasileirão\ -\ logo.jpg);
}

/*Times*/

.card-times {
  width: 150px;
  height: 250px;
  margin: 8px;
  border-radius: 15px;
  background-color: #32323e;
}

.card-image-times {
  background-color: white;
  border-bottom: 1px solid rgb(35 35 46); 
  height: 200px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

/*Times-Europa*/

.times-1 {
  background-image: url(/img/barcelona.png);
}

.times-2 {
  background-image: url(/img/real\ madrid.png);
}

.times-3 {
  background-image: url(/img/liverpool.png);
}

.times-4 {
  background-image: url(/img/manchester\ united.png);
}

.times-5 {
  background-image: url(/img/manchester\ city.png);
}

.times-6 {
  background-image: url(/img/bayern.png);
}

.times-7 {
  background-image: url(/img/juventus.png);
}

.times-8 {
  background-image: url(/img/psg.png);
}

/*Times-Brasil*/

.times-11 {
  background-image: url(/img/flamengo.png);
}

.times-12 {
  background-image: url(/img/palmeiras.png);
}

.times-13 {
  background-image: url(/img/atletico-mg.png);
}

.times-14 {
  background-image: url(/img/corinthians.png);
}

.times-15 {
  background-image: url(/img/são\ paulo.png);
}

.times-16 {
  background-image: url(/img/santos.png);
}

.times-17 {
  background-image: url(/img/fluminense.png);
}

.times-18 {
  background-image: url(/img/internacional.png);
}

.card-times p, .card-jogadores p, .card-campeonatos {
  color: white;
  text-align: center;
  margin-top: 12px;
}
/*Jogadores*/

.card-jogadores {
  width: 150px;
  height: 250px;
  margin: 8px;
  border-radius: 15px;
  background-color: #32323e;
}

.card-campeonatos {
  width: 200px;
  height: 250px;
  margin: 8px;
  border-radius: 15px;
  background-color: #32323e;
}

.card-image-jogadores, .card-image-campeonatos {
  background-color: white;
  border-bottom: 1px solid rgb(35 35 46); 
  height: 200px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.jogadores-1 {
  background-image: url(/img/messi.png);
}

.jogadores-2 {
  background-image: url(/img/cr7.png);
}

.jogadores-3 {
  background-image: url(/img/neymar.jpg);
}

.jogadores-4 {
  background-image: url(/img/mbbape.png);
}

.jogadores-5 {
  background-image: url(/img/lewandowski.png);
}

.jogadores-6 {
  background-image: url(/img/benzema.png);
}

.jogadores-7 {
  background-image: url(/img/salah.png);
}

.jogadores-8 {
  background-image: url(/img/de\ bruyne.png);
}

/*Campeonatos*/


.campeonatos-1{
  background-image: url(/img/champions\ league-campeonatos.png);
}

.campeonatos-2 {
  background-image: url(/img/premier\ league-logo.png);
}

.campeonatos-3 {
  background-image: url(/img/la\ liga.png);
}

.campeonatos-4 {
  background-image: url(/img/bundesliga.png);
}

.campeonatos-5 {
  background-image: url(/img/serie\ a.png);
}

.campeonatos-6 {
  background-image: url(/img/ligue\ 1.png);
}

.campeonatos-11 {
  background-image: url(/img/libertadores.png);
}

.campeonatos-12 {
  background-image: url(/img/brasileirão-campeonatos.png);
}

.campeonatos-13 {
  background-image: url(/img/copa\ do\ brasil.png);
}

.campeonatos-14 {
  background-image: url(/img/copa\ sulamericana.png);
}

.campeonatos-15 {
  background-image: url(/img/recopa.png);
}

.campeonatos-16 {
  background-image: url(/img/supercopa\ do\ brasil.png);
}


.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(35 35 46);
  margin-top: 40px;
  border-top: 2px solid white;
  padding: 30px;
}

.footer p {
  color: white;
  text-transform: uppercase;
}

@media (max-width: 999px) {

  .titulos h3, .titulos p {
    text-align: center;
  }

  .col-100{
    display: none;
    opacity: 0;
  }

  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 15vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-top: 2px solid white;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.titulos h3, .titulos p {
  text-align: center;
  padding: 0;
}

}






